<div class="second-nav">
  <i class="fa-solid fa-angles-left" id="leftArrow"></i>
  <div class="filters">
    <a href="/listing/category/?category=Trending">
      <div class="filter">
        <i class="fa-solid fa-fire"></i>
        <p>Trending</p>
      </div>
    </a>
    <a href="/listing/category/?category=Rooms">
      <div class="filter">
        <i class="fa-solid fa-bed"></i>
        <p>Rooms</p>
      </div>
    </a>
    <a href="/listing/category/?category=Iconic">
      <div class="filter">
        <i class="fa-solid fa-mountain-city"></i>
        <p>Iconic Cities</p>
      </div>
    </a>
    <a href="/listing/category/?category=Mountain">
      <div class="filter">
        <i class="fa-solid fa-mountain"></i>
        <p>mountain</p>
      </div>
    </a>
    <a href="/listing/category/?category=Castles">
      <div class="filter">
        <i class="fa-solid fa-fort-awesome"></i>
        <p>Castles</p>
      </div>
    </a>
    <a href="/listing/category/?category=Pool">
      <div class="filter">
        <i class="fa-solid fa-person-swimming"></i>
        <p>Amazing Pool</p>
      </div>
    </a>
    <a href="/listing/category/?category=Camping">
      <div class="filter">
        <i class="fa-solid fa-campground"></i>
        <p>camping</p>
      </div>
    </a>
    <a href="/listing/category/?category=Farms">
      <div class="filter">
        <i class="fa-solid fa-cow"></i>
        <p>farms</p>
      </div>
    </a>
    <a href="/listing/category/?category=Arctic">
      <div class="filter">
        <i class="fa-regular fa-snowflake"></i>
        <p>Arctic</p>
      </a>
    </div>
  </div>
  <i class="fa-solid fa-angles-right" id="rightArrow"></i>
</div>

  <div class="form-check form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      id="flexSwitchCheckDefault"
      checked
    />
    <label class="form-check-label" for="flexSwitchCheckDefault"
      >price with taxes</label
    >
  </div>