<footer>
    <div class="f-info">
        <div class="i-info-social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-linkedin"></i>
        </div>
        <div> &copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/listing/privacy">Privacy</a>
            <a href="/listing/terms">Terms</a>
        </div>
    </div>
</footer>