<% layout("/layouts/boilerPlate")%>
<body>

 <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
     <%for(let list of listings) {%>
 <a href="/listing/<%= list._id %>">
     <div class="card">
    <img src="<%= list.image %>" class="card-img-top " alt="listing image" style="height: 20rem;" />
    <div class="card-img-overlay"></div>
    <div class="card-body">
      <p class="card-text">
       <b> <%=list.name%></b>
        <br />
        <%=list.price.toLocaleString("en-IN")%>/night
      </p>
    </div>
  </div>
 </a>
  <%}%>
 </div>

</body>
