<% layout("/layouts/boilerPlate")%>

<div class="row">
  <div class="col-8 offset-2">
    <h2>Create a New Listing</h2>
    <form action="/listing" method="post" novalidate class="needs-validation">
      
      <div class="mb-3">
        <label for="title" class="form-label">Enter Title</label>
        <input
          type="text"
          class="form-control"
          placeholder="Add a catchy Title"
          name="listing[title]"
          id="title"
          required
        />
        <div class="valid-feedback">Title Looks good!</div>
        <div class="invalid-feedback">Enter valid title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Enter Description</label>
        <textarea
          class="form-control"
          placeholder=""
          name="listing[description]"
          id="description"
          required
        ></textarea>
        <div class="valid-feedback">Description Looks good!</div>
        <div class="invalid-feedback">Enter valid Description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Enter Image URL/Link</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Image Link"
          name="listing[image]"
          id="image"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Enter price</label>
          <input
            class="form-control"
            placeholder="1200"
            name="listing[price]"
            id="price"
            required
          />
          <div class="invalid-feedback">Enter valid price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Enter Country</label>
          <input
            type="text"
            class="form-control"
            placeholder="India"
            name="listing[country]"
            id="country"
            required
          />
          <div class="valid-feedback">Country Looks good!</div>
          <div class="invalid-feedback">Enter valid country</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Enter Location</label>
        <input
          type="text"
          class="form-control"
          placeholder="Delhi, India"
          name="listing[location]"
          id="location"
          required
        />
        <div class="valid-feedback">Location Looks good!</div>
        <div class="invalid-feedback">Enter valid Location</div>
      </div>

      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
